html {
    font-size: 100%;
}

body {
    background-color: #e6e6e9;
}

.inner-container {
    padding: 1rem;
}

/* ************** typography ********************** */



/* ************** header *************************** */



/* ************** main column section ************** */



/* *************** Media Queries ******************** */
